@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootswatch-sass/cosmo/variables";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootswatch-sass/cosmo/_bootswatch.scss";

$nav-bar-height: 50px;
$background-color: white;
$blue: #1a6ecc;

// my scss
@import "styles/base";

//my sass

.botbar {
    position  : fixed;
    bottom    : 0;
    left      : 0;
    padding   : 0.5em;
    border-top: 1px solid #d3d3d3;
    width     : 100vw;
    background: #fff;
    z-index   : 20;
    text-align: center;
}

body {
    background-color: #eee;
}

#home-view {
    display                : table;
    position               : relative;
    width                  : 100%;
    height                 : 100%;
    background             : url('https://i.ytimg.com/vi/oi2o2r3Sgc0/maxresdefault.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    background-size        : cover;
    -o-background-size     : cover;
}

#history {
    display                : table;
    position               : relative;
    width                  : 100%;
    height                 : 200px;
    background             : url('http://www.sfsu.edu/skyline_hero.jpg%3Fitok=4dvmhcuP') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    background-size        : cover;
    -o-background-size     : cover;

    #title {
        position  : absolute;
        width     : 100%;
        background: rgba(26,110,204,.5);
        bottom    : 0;
        left      : 0;
        h1 {
            color: white;
        }

    }
}

.text-vertical-center {
    display       : table-cell;
    text-align    : center;
    vertical-align: middle;

    h1 {
        color      : white;
        margin     : 0;
        padding    : 0;
        font-size  : 4.5em;
        font-weight: 700;
    }
}
